PROJECT_NAME=DevPilot AI Core Engine
VERSION=1.0.0
API_V1_STR=/api/v1
SECRET_KEY=devpilot_super_secret_jwt_signature_key_2026_prod
ACCESS_TOKEN_EXPIRE_MINUTES=10080

POSTGRES_SERVER=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=devpilot_db
POSTGRES_PORT=5432

REDIS_HOST=localhost
REDIS_PORT=6379

QDRANT_HOST=localhost
QDRANT_PORT=6333

GEMINI_API_KEY=AIzaSy_Mock_Gemini_Key
